{
  "extends": "eslint-config-egg",
  "rules": {
    "linebreak-style": "off",
    "no-loop-func": "off",
    "indent": [
        "error",
        4,
        {
            "SwitchCase": 1
        }
    ]
}
}
